/*laba5*/
#selectLaba {
    margin: 0px;
    width: 150px;
    padding: 5px 35px 5px 5px;
    font-size: 16px;
    border: 1px solid #CCC;
    height: 34px;
    appearance: none;
    background: url(https://st2.depositphotos.com/6438882/9282/v/600/depositphotos_92822722-stock-illustration-gear-icon-cogwheel-symbol-round.jpg) 96% / 15% no-repeat #EEE;
    }

    #buttonMainPage{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 75px;
        width: 260px;
        padding: 0;
        background:yellowgreen;
        border:none;
        outline:none;
        border-radius: 5px;
        overflow:hidden;
        font-family:'Quicksand', sans-serif;
        font-size: 20px;
        font-weight: 500;
        cursor: pointer;
        transition: 0.3s linear; /* Время изменения */
        border-style: dashed;
        border-color: #fff;
        border-radius: 1000% 1000% 50% 50%;
        border-width: 10px;
    }
    #buttonMainPage:hover{
        background:rgb(248, 232, 6);
    }
    p b{
        background: #e6bd78;
        font-size: 25px    
    }


/*laba1*/
.btn {
    background-color: red;
    display: inline-block;
    padding: 10px 15px;
    color: #fff;
    cursor:pointer;
    
}
.btn:hover{
    background-color: yellow;
    color: #000;
}

/*laba2*/
#info{
    background: #fce9c0; /* Цвет фона */
    border: 2px solid #a9c358; /* Параметры рамки */
    padding: 10px; /* Поля */
    width: 50%; /* Ширина */
    height: 200px; /* Высота */
    box-sizing: border-box; /* Алгоритм расчёта ширины */
    font-size: 14px; /* Размер шрифта */
}


/*laba3*/

select {
    margin: 0px;
    width: 150px;
    padding: 5px 35px 5px 5px;
    font-size: 16px;
    border: 1px solid #CCC;
    height: 34px;
}
#listGenerator{
    font-family: 'Lobster';
    background: #f6f5f3;    
}
#listColor{
    font-family:'Times New Roman';
    background: #022ffa;  
}
#listModel{
    font-family: 'Calibri';
    background: #fa1f02;  
}
/*laba4*/
#digital_watch{
    letter-spacing: 5px;
    color: rgb(2, 2, 2);
    font-size: 30px;
    border: 10px solid rgb(44, 243, 37);
    padding: 10px;
    width: 600px;
    box-shadow: 4px 3px 3px #98f898,
    6px 5px 2px #d4f6d5;
    background: #e7f3e7;
    border-radius: 100px 10px 100px 10px;
}
